<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> Document</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="application/javascript"></script>
<style>
div{display:inline-block; margin:10px;}
img{width:50px;}
</style>
</head>

<body ng-app="myApp">
	<div ng-controller="myController as store">
        <div ng-repeat="results in store.result">
            <h3> Name {{ results.name }}</h3>
            <h3> Position {{ results.position }} </h3>
            <div ng-repeat="mimage in results.images" ng-show= "results.images.length">
            	<img ng-src="{{ mimage }}"  alt="image" />
            </div>
        </div>
	</div>   
    <div ng-init="tabs=1">
         <ul class="nav nav-pills">
            <li ng-class="{ 'active': tabs ===1 }"><a href ng-click="tabs = 1">Home</a></li>
            <li ng-class="{ 'active': tabs ===2 }"><a href ng-click="tabs = 2">Menu </a></li>
          </ul>
        <div class="tab-content">
            <div ng-show="tabs === 1" class="tab-pane fade in active">
                  <h3>HOME</h3>
                  <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
            </div>
            <div ng-show="tabs === 2" class="tab-pane fade in active">
                  <h3>Menu</h3>
                  <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
            </div>
        </div>
    
    </div>
    
        <div style="background:#D1E1CE;" ng-controller="tabController as tabC">
         <ul class="nav nav-pills">
            <li ng-class=""><a href ng-click="tabC.selectTabs(1)">Home</a></li>
            <li ng-class="{ 'active': tabs ===2 }"><a href ng-click="tabs = 2">Menu </a></li>
          </ul>
        <div class="tab-content">
            <div ng-show="tabs === 1" class="tab-pane fade in active">
                  <h3>HOME</h3>
                  <p>{{ tabC.product.description }}</p>
            </div>
            <div ng-show="tabs === 2" class="tab-pane fade in active">
                  <h3>Menu</h3>
                  <p>{{ tabC.product.description }}</p>
            </div>
        </div>
    
    </div>
<script>
	 var app = angular.module("myApp", []);
    (function(){
        app.controller('myController', function(){
        this.result =  [
								{
									name: 'demo1',
									position: 'ui',
									images : ['learn-icon.png', 'home-icon.png']
								},
								{
									name: 'demo',
									position: 'ux',
									images: ['learn-icon.png', 'home-icon.png']
								}
				            ];
        });

    })();
        
		
	   (function(){
        app.controller('tabController', function(){
			this.product = { description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."};
			this.panel= function(){
				var tab = 1;
			};
			this.selectTabs=function(tab){
				var tabs = tab;
			};
			
			
			});
		})();
    </script>
</body>
</html>
